In [ ]:
!pip install duckdb

In [2]:
import duckdb

# Run a simple SQL query (no file needed yet)
result = duckdb.query("SELECT 1 + 1 AS answer").df()
print(result)

   answer
0       2

In [3]:
result = duckdb.query("""
    SELECT * FROM 'sales_data.csv' LIMIT 5
""").df()

print(result)

                        date       region customer_name   product_name  \
0 2025-02-20 08:16:09.630655     New York    Local Shop  Essential Kit
1 2025-02-20 08:16:09.630655     New York   Global Tech     Basic Tool
2 2025-02-20 08:16:09.630655     New York   Global Tech  Essential Kit
3 2025-02-20 08:16:09.630655  Los Angeles    Local Shop  Essential Kit
4 2025-02-20 08:16:09.630655  Los Angeles       XYZ Inc  Essential Kit

      category     sales  units_sold  customers  avg_order_value
0     Software  10473.86         209        112            93.52
1  Accessories  11368.45         227        106           107.25
2     Hardware  10233.10         204         93           110.03
3  Electronics   7117.99         142         72            98.86
4     Services   7022.22         140         69           101.77

In [7]:
query = """
SELECT region, SUM(sales) AS total_sales
FROM 'sales_data.csv'
GROUP BY region
ORDER BY total_sales DESC
"""
duckdb.query(query).df()

        region  total_sales
0     New York   1976992.97
1        Miami   1415543.19
2      Houston   1398768.76
3      Chicago   1389934.33
4  Los Angeles   1383179.99

In [8]:
import pandas as pd
df = pd.read_csv("sales_data.csv")
df.groupby("region")["sales"].sum().sort_values(ascending=False)

region
New York       1976992.97
Miami          1415543.19
Houston        1398768.76
Chicago        1389934.33
Los Angeles    1383179.99
Name: sales, dtype: float64

In [9]:
query = """
SELECT *
FROM 'sales_data.csv'
WHERE category = 'Software'
LIMIT 5
"""
duckdb.query(query).df()

,date,region,customer_name,product_name,category,sales,units_sold,customers,avg_order_value
0,2025-02-20 08:16:09.630655,New York,Local Shop,Essential Kit,Software,10473.86,209,112,93.52
1,2025-02-20 08:16:09.630655,Los Angeles,Local Shop,Premium Package,Software,6572.21,131,66,99.58
2,2025-02-20 08:16:09.630655,Chicago,Local Shop,Widget A,Software,7417.01,148,72,103.01
3,2025-02-21 08:16:09.630655,New York,Global Tech,Widget A,Software,10887.75,217,102,106.74
4,2025-02-21 08:16:09.630655,Los Angeles,Global Tech,Premium Package,Software,6888.01,137,60,114.80

## üÜö DuckDB vs Pandas ‚Äì Summary

| Feature                  | üêº Pandas                           | ü¶Ü DuckDB                            |
|--------------------------|-------------------------------------|--------------------------------------|
| **Execution**            | In-memory (eager)                   | SQL engine (lazy & optimized)        |
| **File Handling**        | Loads full CSV into RAM             | Streams CSV/Parquet from disk        |
| **Performance (small)**  | Fast (<100MB files)                 | Slight overhead for small files      |
| **Performance (large)**  | Slows down or crashes >500MB        | Scales to GBs easily                 |
| **Memory Usage**         | High (everything in memory)         | Low (reads only needed parts)        |
| **Syntax Style**         | Pythonic (`df.groupby()`)           | SQL (`SELECT ... FROM ...`)          |
| **Best For**             | Quick analysis, prototyping         | Dashboards, APIs, large datasets     |
| **Joins, Filters**       | Supported, but slower               | Faster due to vectorized execution   |
| **Installation**         | `pip install pandas`                | `pip install duckdb`                 |
| **Chart Integration**    | Direct with matplotlib/plotly       | Use DuckDB for prep, then chart via Pandas |
| **Downside**             | RAM-heavy, slow on huge data        | Needs SQL knowledge (slightly)       |

---

### üß† Rule of Thumb

- Use **Pandas** for small, in-memory data work
- Use **DuckDB** for:
  - Large CSV/Parquet files
  - Filtering, grouping, and KPI logic in dashboards
  - Low-RAM environments (cloud, backend, LLM agents)